# Python Programming Language

In [1]:
print('Single Quoate.')
print("Double Quoate.")
print('''This is paragraph 
written in python''')
print(""" hhsduahkfhdskhf
hghkhsadkhkjhdskjashd
jhkjhksad""")

Single Quoate.
Double Quoate.
This is paragraph
written in python
 hhsduahkfhdskhf
hghkhsadkhkjhdskjashd
jhkjhksad

# Variable 
Variable is a container which store any value

In [12]:
A = 5 #Integer
B = 10.5 # Float
C = 'Python' # String
D = complex(A,2)

# Data Type in Python
Immutable Data Type
1) Frozen set 
2) Bytes 
3) Boolean
4) Numeric: Integer, Float, Complex
5) String
6) Tuple

Mutable Data Type
1) List
2) Dictionary
3) set
4) Byte array

In [13]:
print(f'A: {A}, datatype is {type(A)}')
print(f'B: {B}, datatype is {type(B)}')
print(f'C: {C}, datatype is {type(C)}')
print(f'D: {D}, datatype is {type(D)}')

A: 5, datatype is <class 'int'>
B: 10.5, datatype is <class 'float'>
C: Python, datatype is <class 'str'>
D: (5+2j), datatype is <class 'complex'>

# Immutable Data Type

## Frozen Set

In [19]:
vowels = ('a','e','i','o','u')
vowels = frozenset(vowels)
print(f'Vowels: {vowels}, Data type: {type(vowels)}')

Vowels: frozenset({'e', 'u', 'i', 'o', 'a'}), Data type: <class 'frozenset'>

# Bytes

In [1]:
byt = bytes([1,2,5])
print(f'byt: {byt}, datatype: {type(byt)}')
byt[1]

byt: b'\x01\x02\x05', datatype: <class 'bytes'>

2

# Boolean

In [27]:
b = bool(1)
print(b)

True

# String and String operation

In [28]:
a = 'Hello'
print(a)
a = "Hello"
print(a)

Hello
Hello

# Multiline Strings

In [29]:
a = """Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string."""
print(a)

Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
However, Python does not have a character data type, a single character is simply a string with a length of 1.
Square brackets can be used to access elements of the string.

In [30]:
print(a[1]) #character at position 1

t

In [35]:
# Loop through the letters in the word
for x in a:
    print(x,' ', end='')

S  t  r  i  n  g  s     a  r  e     A  r  r  a  y  s
  L  i  k  e     m  a  n  y     o  t  h  e  r     p  o  p  u  l  a  r     p  r  o  g  r  a  m  m  i  n  g     l  a  n  g  u  a  g  e  s  ,     s  t  r  i  n  g  s     i  n     P  y  t  h  o  n     a  r  e     a  r  r  a  y  s     o  f     b  y  t  e  s     r  e  p  r  e  s  e  n  t  i  n  g     u  n  i  c  o  d  e     c  h  a  r  a  c  t  e  r  s  .
  H  o  w  e  v  e  r  ,     P  y  t  h  o  n     d  o  e  s     n  o  t     h  a  v  e     a     c  h  a  r  a  c  t  e  r     d  a  t  a     t  y  p  e  ,     a     s  i  n  g  l  e     c  h  a  r  a  c  t  e  r     i  s     s  i  m  p  l  y     a     s  t  r  i  n  g     w  i  t  h     a     l  e  n  g  t  h     o  f     1  .
  S  q  u  a  r  e     b  r  a  c  k  e  t  s     c  a  n     b  e     u  s  e  d     t  o     a  c  c  e  s  s     e  l  e  m  e  n  t  s     o  f     t  h  e     s  t  r  i  n  g  .

In [36]:
len(a) # Length of the String

309

In [38]:
'Python' in a # to check substring present in string output is boolean

True

In [40]:
'float' not in a # check sub string is not present in string output is boolean

True

# Slicing String Opeartion

In [41]:
b = "Hello, World!"
print(b[2:5]) #characters from position 2 to position 4 (5 not included)

llo

In [42]:
b = "Hello, World!"
print(b[:5]) #characters from position 0 to position 4 (5 not included)

Hello

In [43]:
b = "Hello, World!"
print(b[2:]) #characters from position 2 to position end

llo, World!

In [44]:
b = "Hello, World!"
print(b[-5:-2]) # Negative Index access in reverse order and print

orl

In [46]:
a = "Hello, World!"
print(a.upper()) # upper case
print(a.lower()) # lower case

HELLO, WORLD!
hello, world!

In [53]:
a = " Hello, World! "
print(a.rstrip())  # remove white space after last character
print(a.lstrip()) # remove white space before first character
print(a.strip()) # remove white space for both side returns "Hello, World!"

 Hello, World!
Hello, World!
Hello, World!

In [56]:
a = "Hello, World!"
print(a.split(",")) # split after a character/string match returns ['Hello', ' World!']
print(a.rsplit()) # split after a white space

['Hello', ' World!']
['Hello,', 'World!']

# String Concatenation

In [60]:
a = 'Hello'
b = "World"
c = a + b
print(c)

HelloWorld

In [61]:
a = "Hello"
b = "World"
c = a + " " + b # add a space between Hello and world
print(c)

Hello World

# Format string

In [67]:
age = 25
txt = "My name is Manoj, and I am {}"
print(txt.format(age)) # format string
print(f'My name is Manoj, and I am {age}') # format string

My name is Manoj, and I am 25
My name is Manoj, and I am 25

In [3]:
quantity = 3
itemno = 'Orange'
price = 49.955697
myorder = "I want {} pieces of item {} for {} Ruppes."
print(myorder.format(quantity, itemno, price))
print(f'I want {quantity} pieces of item {itemno} for {price:.2f} Ruppes')

I want 3 pieces of item Orange for 49.955697 Ruppes.
I want 3 pieces of item Orange for 49.96 Ruppes

# Escape Character \

In [73]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [75]:
txt = 'It\'s Python.' # Single Quote
print(txt)

It's Python.

In [76]:
txt = "This will insert one \\ (backslash)." # Backslash
print(txt)

This will insert one \ (backslash).

In [77]:
txt = "Hello\nWorld!" # New line
print(txt)

Hello
World!

# String Methods

In [83]:
txt = 'hello World'
print(txt)

hello World

In [86]:
txt = txt.capitalize() # Fisrt Letter Capital
print(txt)

Hello world

In [88]:
txt.casefold() # first letter small

'hello world'

In [94]:
txt.center(20) # Mark 20 space with Hello World in middle

'    Hello world     '

In [100]:
print(txt.count('l')) # Count occurence of substring

3

In [101]:
txt.upper()

'HELLO WORLD'

In [104]:
txt.lower()

'hello world'

In [106]:
txt.translate

In [108]:
txt.replace('e','a')

'Hallo world'

In [110]:
txt = '''Python is a High Level Programming Language. 
         Python is used for Web Application, Game and ML. Python is Good'''
print(txt.find('Python'))
print(txt.count('Python')) # Count occurence of substring

0
3

In [112]:
txt.index('High')

12

# Python Boolean

In [113]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

# Mutable Data Type

## Byte Array

In [120]:
str = "Geeksforgeeks" 
# encoding the string with unicode 8 and 16 
array1 = bytearray(str, 'utf-8') 
array2 = bytearray(str, 'utf-16') 
  
print(array1) 
print(array2)
array1[2]

bytearray(b'Geeksforgeeks')
bytearray(b'\xff\xfeG\x00e\x00e\x00k\x00s\x00f\x00o\x00r\x00g\x00e\x00e\x00k\x00s\x00')

101

In [123]:
size = 5

arr = bytearray(size)
print(arr)
arr[0:2]

bytearray(b'\x00\x00\x00\x00\x00')

bytearray(b'\x00\x00')

# Tuples
A tuple is a collection which is ordered and unchangeable. \
Tuples are written with round brackets. \

In [164]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple) # Tuples allow duplicate values

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [165]:
len(thistuple) # length of tuples

5

In [167]:
thistuple = ("apple",) # Tuple with one item ',' is used
print(type(thistuple))

thistuple = ("apple") # NOT a tuple since comma is not used
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [178]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [172]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets tuple() Constructor
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [179]:
tuple1[1] # accessing tuple elements

tuple1 deleted

In [174]:
tuple1[1] = 'Python' # immutable data type so cannot change value

TypeError: 'tuple' object does not support item assignment

In [180]:
del tuple1 # Delete tuple from workspace
print('tuple1 deleted')

tuple1 deleted

# Set
A set is a collection which is both unordered and unindexed. \
Sets are written with curly brackets. \
Set is used to eleminate multiple entries

In [124]:
myset = {"apple", "banana", "cherry"}
myset

{'apple', 'banana', 'cherry'}

In [125]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset) # Duplicate not allowed

{'cherry', 'apple', 'banana'}

In [126]:
len(thisset) # Length of set

3

In [130]:
set1 = {"apple", "banana", "cherry"} # string
set2 = {1, 5, 7, 9, 3} # int
set3 = {True, False, False} # Boolean
set1 = {"abc", 34, True, 40, "male"} # set with int, string and boolean
print(set1)
print(set2)
print(set3)
print(set3)

{True, 34, 40, 'male', 'abc'}
{1, 3, 5, 7, 9}
{False, True}
{False, True}

In [132]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)
type(thisset)

{'cherry', 'apple', 'banana'}

set

#  Operation on Set

In [136]:
A = set(('Integer','Float','Complex','Array','Boolean'))
B = set(('Boolean','Complex','Array','frozenset'))
print(A,'\n',B)

{'Complex', 'Boolean', 'Integer', 'Float', 'Array'}
 {'Array', 'frozenset', 'Boolean', 'Complex'}

In [137]:
A.union(B) # A union B (all elements which are in either or (or both))

{'Array', 'Boolean', 'Complex', 'Float', 'Integer', 'frozenset'}

In [139]:
A.intersection(B) # A intersection B (all elements which are common in A and B)

{'Array', 'Boolean', 'Complex'}

In [144]:
S = A.difference(B) # A difference B (elements which are in A and not in B)
print(S)

{'Float', 'Integer'}

In [150]:
print(f'S: {S}, datatype: {type(S)}')
S.clear() # clear the item of set
print(S)

S: set(), datatype: <class 'set'>
set()

# Set Comparison

In [159]:
print('Float in A: ','Float' in A)
print('Python not in B: ','Python' not in B)
print('A==B',A==B)
print('A!=B',A!=B)
print('A<=B',A<=B)
print('A>=B',A>=B)

Float in A:  True
Python not in B:  True
A==B False
A!=B True
A<=B False
A>=B False

# Python List
Lists are used to store multiple items in a single variable.\
List is a container which hold element and mutuable data type

In [182]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [183]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist) # Allow Duplicate Elements

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [184]:
print(len(thislist)) # length of the list

5

In [188]:
list1 = ["apple", "banana", "cherry"] # string data type
list2 = [1, 5, 7, 9, 3] # Integer data type
list3 = [True, False, False] # Boolean data type
list4 = ['apple',1,5,True,'cherry'] # mixed data type in list
print(list1)
print(list2)
print(list3)
print(list4)
type(list4)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
['apple', 1, 5, True, 'cherry']

list

In [189]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets list() Constructor
print(thislist)

['apple', 'banana', 'cherry']

In [191]:
myList = list() # creating empty list
myList = ['physics', 'chemistry', 1997, 2000] # initialize list 
print(myList)
myList[1] # Access List elements

['physics', 'chemistry', 1997, 2000]

'chemistry'

In [194]:
myList[1]='Python' # Updating List element at index 1
print(myList)

['physics', 'Python', 1997, 2000]

In [196]:
myList.append('Program')
myList.append('List')
print(myList) # appending new element in list

['physics', 'Python', 1997, 2000, 'Program', 'List', 'Program', 'List']

In [198]:
del myList[-1] # delete last element in the list
print(myList)

['physics', 'Python', 1997, 2000, 'Program', 'List', 'Program']

In [201]:
myList[-1] = [] # update null to last element
print(myList)

['physics', 'Python', 1997, 2000, 'Program', 'List', []]

In [205]:
list2 = ['Manoj']
list2 = myList.copy() # create a copy or recreate myList element to list2
print(list2)

['physics', 'Python', 1997, 2000, 'Program', 'List', []]

In [213]:
myList.insert(1,'Manoj') # insert element at index
print(myList)

['physics', 'Manoj', 'Python', 1997, 2000, 'Program', 'List', []]

In [214]:
list1 + list2 # List Concatenation

['apple',
 'banana',
 'cherry',
 'physics',
 'Python',
 1997,
 2000,
 'Program',
 'List',
 []]

In [217]:
print(list1)
list1*2 # List Repetition

['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [218]:
print('apple in list1: ','apple' in list1) # Membership

apple in list1:  True

In [221]:
for x in list1: print(x) # Iteration

apple
banana
cherry

In [223]:
[x for x in list1] # List Comprehension

['apple', 'banana', 'cherry']

# List Operation

In [225]:
list1==list2  # List Compare

False

In [229]:
list2 = [1,5,8,2,3,7,9,15,3,1,5,5]
print(list2)
print('Maximum: ',max(list2))
print('Minimum: ',min(list2))

[1, 5, 8, 2, 3, 7, 9, 15, 3, 1, 5, 5]
Maximum:  15
Minimum:  1

In [230]:
print('Before pop: ',list2)
list2.pop()
print('After pop: ',list2)

Before pop:  [1, 5, 8, 2, 3, 7, 9, 15, 3, 1, 5, 5]
After pop:  [1, 5, 8, 2, 3, 7, 9, 15, 3, 1, 5]

In [232]:
list2.remove(5) # remove 1 element as number 5
print(list2)

[1, 8, 2, 3, 7, 9, 15, 3, 1]

In [236]:
print(list2)
list2.reverse()
print(list2)

[1, 8, 2, 3, 7, 9, 15, 3, 1, 5]
[5, 1, 3, 15, 9, 7, 3, 2, 8, 1]

In [238]:
list2.sort()
print(list2)

[1, 1, 2, 3, 3, 5, 7, 8, 9, 15]

# List Comprehension

In [245]:
# print fruits name if letter a is present
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

# Syntax and Example
newlist = [expression for item in iterable if condition == True]

In [246]:
# List comprehension
lstcomp = [x for x in fruits if 'a' in x]
print('List Comprehension: ', lstcomp)

List Comprehension:  ['apple', 'banana', 'mango']

In [247]:
newlist = [x for x in fruits if x != "apple"] # Accept item that is not apple
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [251]:
[x for x in fruits] # all elements in fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [253]:
[x for x in range(0,10) if x>5] # print number greater than 5 in range 0 to 10

[6, 7, 8, 9]

In [258]:
[x.upper() for x in fruits  if x!="banana"] # print in upper case if not banana

['APPLE', 'CHERRY', 'KIWI', 'MANGO']

In [4]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)
newlist = [x for x in fruits if x!='banana' or 'orange'] # both are same
print(newlist)

NameError: name 'fruits' is not defined

# Nested List

In [274]:
list1 = ['Python',['Java','Core Java'],'OOP\'s'] # declare nested list
print(list1[1]) # access nest list
print(list1[1][1]) # access elements of nest list

['Java', 'Core Java']
Core Java

# Python Dictionary
Dictionaries are used to store data values in key:value pairs.\
A dictionary is a collection which is unordered, changeable and does not allow duplicates. \
Dictionaries are written with curly brackets, and have keys and values:

In [263]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [264]:
print(thisdict["brand"]) # Access dictionary value using key as index

Ford

In [269]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,  "year": 2020,"release" :'2020'
}
print(thisdict) # dictionary doesnot allow duplicate key but allow duplicate values
type(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'release': '2020'}

dict

In [268]:
print(len(thisdict)) # length of dictionary

4

In [276]:
thisdict.keys() # all keys of dictionary

dict_keys(['brand', 'model', 'year', 'release'])

In [277]:
thisdict.values() # all values of dictionary

dict_values(['Ford', 'Mustang', 2020, '2020'])

In [278]:
thisdict.items() # all key and value of dictionary

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('release', '2020')])

In [281]:
thisdict.get('brand') # get value using key

'Ford'

In [286]:
thisdict.update({'brand':'Jaguar'}) # Update any key value
print(thisdict)
thisdict['model'] = 'x series' # Update any key value
thisdict['Model'] = 'Xl720' # add new key and value
print(thisdict)

{'brand': 'Jaguar', 'model': 'Mustang', 'year': 2020, 'release': '2020', 'Model': 'Xl720'}
{'brand': 'Jaguar', 'model': 'x series', 'year': 2020, 'release': '2020', 'Model': 'Xl720'}

# Dictionary Operation

In [297]:
d1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,  "year": 2020,"release" :'2020'
}
print(d1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'release': '2020'}

In [296]:
d2 = d1.copy() # copy of d1 in d2
print(d2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'release': '2020'}

In [299]:
d1.fromkeys('brand') # Returns a dictionary with the specified keys and value

{'b': None, 'r': None, 'a': None, 'n': None, 'd': None}

In [305]:
d1.get('brand') # get value of the key

'Ford'

In [307]:
d1.items() # Returns a list containing a tuple for each key value pair

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('release', '2020')])

In [308]:
d1.keys() # Returns all key

dict_keys(['brand', 'model', 'year', 'release'])

In [309]:
d1.pop('brand') # delete/Remove a key and its value

'Ford'

In [310]:
print(d1)

{'model': 'Mustang', 'year': 2020, 'release': '2020'}

In [311]:
d1.values() # Return all values

dict_values(['Mustang', 2020, '2020'])